{% extends "base.html" %}

{% block content %}

<h2 class="text-center mb-4">Update Product ✏️</h2>

<div class="row justify-content-center">
<div class="col-md-6">

<div class="card p-4">

<form method="POST" enctype="multipart/form-data">

<!-- PRODUCT NAME -->
<label class="form-label">Product Name</label>
<input type="text"
       name="name"
       value="{{ product.name }}"
       class="form-control mb-3"
       required>

<!-- PRODUCT PRICE -->
<label class="form-label">Price</label>
<input type="number"
       name="price"
       value="{{ product.price }}"
       class="form-control mb-3"
       required>

<!-- CURRENT IMAGE -->
{% if product.image %}
<label class="form-label">Current Image</label><br>

<img src="{{ url_for('static', filename='uploads/' + product.image) }}"
     style="width:100%; height:200px; object-fit:cover; border-radius:10px; margin-bottom:10px;">
{% endif %}

<!-- NEW IMAGE -->
<label class="form-label">Change Image (optional)</label>
<input type="file" name="image" class="form-control mb-3">

<button class="btn btn-warning w-100">Update Product</button>

</form>

</div>
</div>
</div>

{% endblock %}