{% extends "base.html" %}
{% block content %}

<div style="max-width: 900px; margin: auto; padding: 40px;">
<h2>Privacy Policy</h2>

<p>Welcome to TimeInShare. Your privacy is important to us.</p>

<p>We collect basic user information such as name, email, and activity for improving our services.</p>

<p>We do not sell or share your personal data with third parties.</p>

<p>Cookies may be used to enhance user experience.</p>

<p>If you have any concerns, contact us at: support@timeinshare.com</p>

</div>

{% endblock %}